* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
}


#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 80%;
    grid-gap: 10px;
    align-self: center;
}


nav {
    font-family: 'SEGA LOGO FONT', sans-serif;
    background-color: lightgreen;
    height: 50px;
    margin-bottom: 40px;
    padding: 10px 0 50px 10px;
    font-size: 30px;
}

.card {
    background-color: rgb(67, 189, 193);
    width: 200px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.imgRobot {
    margin-top: 10px;
    background-color: rgb(16, 6, 83);
    border-radius: 50%;
    width: 80%;
    height: 60%;
    border: 2px solid black;
}