section{
    border: 2px solid red;
    padding: 2px;
height: 400px;
flex-direction: column;
display: flex;
justify-content: space-between;
}
div{
background-color: lightblue;
font-size: 50px;
color: white;
text-align: center;
height: 31%;
display: flex;
justify-content: center;
flex-direction: column;
}
.two{width:20%;
align-self: flex-end;

}





